.odd-nav {
  color: gray;
  font-size: 5vw;
  margin: 1vh .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.even-nav {
  color: rgb(128,0,0);
  font-size: 5vw;
  margin: 1vh .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}



.menu-bar {
  display: flex;
}
.menu-item:nth-child(odd) {
  color: gray;
  font-size: 5vw;
  margin: 1vh .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.menu-item:nth-child(even) {
  color: rgb(128,0,0);
  font-size: 5vw;
  margin: 1vh .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.options-nav {
  margin-left: auto; /* Flex pushes to right edge. */
  color: rgb(0,0,0);
  font-size: 5vw;
  /* margin: 1vh .5vw; */
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.odd-option {
  color: rgb(0, 0, 0);
  font-size: 3vw;
  margin: 1vh .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.even-option {
  color: rgb(207, 181, 59);
  font-size: 3vw;
  margin: 1vh .5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/* Get rid of link text coloring and underlines. */
a {
  text-decoration: none;
}

.form-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
}
.form-warning-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: rgb(255,0,0);
}
form {
/*  width: 100%; */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
div.form {
  /* display: table-row; */
  width: 100%;
}


label, input[type=text], textarea {
  /* display: table-cell; */
  margin-bottom: 10px;
  margin-left: 10px;
}

#shot_annotations_container .small-annotation {
  display: inline-block;
}
#shot_annotations_container .big-annotation {
  display: flex;
  flex-direction: row;
}
#shot_annotations_container .big-input {
  align-self: stretch;
  height: 10vh;
  width: 100%;
}
#shot_annotations_container .new-form-label {
  display: inline-block;
  font-size: 1vw;
  width: 7vw;
  min-width: 7vw; /* Prevent shrinking by flex. */
  text-align: right;
}
#shot_annotations_container .new-form-input {
  font-size: 1vw;
  width: 4vw;
}
#shot_annotations_container textarea {
  /*
  display: table-cell;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 100%;
  max-width: 100%;
  */
}

#api-form-warning {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 10px;
}

#shot-file-select {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.shots-list-entry {
  margin-bottom: 1vh;
}

.shots-list-entry-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2vw;
}

.shots-list-entry-details {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
}

.listing-entry {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



.normal-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
}
.normal-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
}


/*.shot_plot { */
.single-shot-plot {
  /* Force a ratio of 5:1 for all <div>
   .viewportRatio(4, 3); */
  width: 100vw;
  
  /*height: 75vw;*/ /* height:width ratio = 3/4 = .75  */
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  max-height: 100vh;
  /*max-width: 133.33vh;*/ /* 4/3 = 1.3333 */
  max-width: 177.78vh; /* 16/9 = 1.778 */



  margin: 0;
  resize: both;
/*       position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; */
}

.shot_text {
  /* Force a ratio of 5:1 for all <div>
   .viewportRatio(4, 3); */

  margin: 0;
/*       position: absolute;
  top: 0; right: 0; bottom: 0; left: 0; */
}